html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

#imageContainer {
  position: absolute;
  z-index: 100;
  top: 100px; /* Stay at the top */
  left: 150px;
  width: 25%;
  border: black 10px solid;
  display: none;
  cursor: e-resize;
}

#imageContainer > #referenceImage {
  width: 100%;
  cursor: move;
}

.timer {
  position: absolute;
  z-index: 100;
  top: 0px;
  right: 20px;
}

#drawingCanvas canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 4rem;
}

.main {
  margin-left: 4rem; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* The sidebar menu */
.sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 4rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(146, 146, 146); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav > img, .sidenav > button > img {
  width: 100%;
}

/* The navigation menu links */
.sidenav button {
  background-color: rgba(84, 104, 134, 0);
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1em 2px;
  cursor: pointer;
}

.sidenav > #spacer {
  display: inline-block;
  flex-grow: 1;
}

/* User prompts */
.mymodal {
  border: solid 3px black;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  margin-left: 7rem;
  margin-top: 1rem;
  width: 50rem;
  height: 20rem;
}

#modalContainer {
  z-index: 200;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
.btn {
  margin: 1rem 0.5rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media handheld, screen {
  .sidenav {
    width: 5vw;
  }

  .sidenav a {
    font-size: 18px;
  }

  #imageContainer {
    border: black 15px solid;
  }

  .mymodal {
    font-size: 1.8vw;
  }
}

@media handheld, screen and (max-device-width : 850px) and (max-device-height : 450px) {
  .mymodal {
    margin-left: calc(5vw + 3rem);
    width: 70vw;  
    height: 70vh;  
   }
}

@media handheld, screen and (max-device-width : 450px) and (max-device-height : 850px) {
  .sidenav {
    width: 7vw;
  }
  
  .mymodal {
    margin-left: calc(10vw + 3rem);
    width: 55vw;  
    height: 70vh;  
   }
}

@media handheld, screen and (min-device-width: 850px) and (max-device-width: 1250px) {
  .sidenav {
    width: 5vw;
  }

  .sidenav a {
    font-size: 20px;
  }

  .mymodal {
    margin-left: calc(10vw + 3rem);
    width: 55vw;  
    height: 55vh;  
  }
}

@media handheld, screen and (min-device-height: 850px) and (max-device-height: 1250px) {
  .sidenav {
    width: 7vw;
  }
  .sidenav a {
    font-size: 20px;
  }

  #imageContainer {
    border: black 15px solid;
  }

  .mymodal {
    margin-left: calc(10vw + 3rem);
    width: 60vw;  
    height: 60vh;  
  }
}
